/Makefile
/config.log
/config.status
/configure
/autom4te.cache
/aclocal.m4

/bin

/doc/Makefile
/doc/chap*html
/doc/chap*txt
/doc/*.js
/doc/*.css
/doc/chooser.html
/doc/manual.pdf
/doc/manual.six
/doc/nqbib.xml.bib
/doc/nqman.idx
/doc/nqman.log
/doc/nqman.out
/doc/nqman.tex

/examples/Makefile

/src/Makefile
/src/config.h
/src/*.o
